html {
	background-color: #fefefe;
	color: #666;
}

::selection {
	background: #eaeff9;
}

:root {
	margin: 2rem;
	font-family: 'Pretendard Variable', -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
	overflow-x: hidden;
}
