@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400&display=swap');

html {
  background-color: #fefefe;
  color: #333;
}

::selection {
  background: #eaeff9;
}

:root {
  margin: 2rem;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}
