.container {
  display: flex;
  width: 200px;
  flex-direction: column;
  justify-content: left;
}

.title {
  margin: 0;
}

.period {
  margin: 4px 0;
  font-family: "LeonSans-Thin", sans-serif;
}

.major {
  margin: 0;
  font-family: "LeonSans-Thin", sans-serif;
  text-transform: capitalize;
}

.description {
  margin: 8px 0;
}
