@font-face {
  font-family: "LeonSans-Bold";
  src: url("../font/LeonSans-Bold.otf");
}

@font-face {
  font-family: "LeonSans-Medium";
  src: url("../font/LeonSans-Medium.otf");
}

@font-face {
  font-family: "LeonSans-Light";
  src: url("../font/LeonSans-Light.otf");
}

:root {
  --black-color: #464950;
  --pink-color: #ffc2bd;
  --yellow-color: #f8db95;
  --white-color: #ffffff;
  --light-gray-color: #eeeef0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "LeonSans-Light", sans-serif;
  background-color: var(--yellow-color);
}
